# Dependencies
node_modules/
package-lock.json

# Build output
dist/
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

